- if current_user
  = link_to "Редактировать", edit_question_path

%h3= @question.title
%p= @question.body
%br/
%br/
%br/
- @question.answers.each do |answer|
  %p
    =answer.user.email
  %h5= answer.body
  %br/

= simple_form_for [@question, @answer] do |f|
  = f.input :body, as: :text, input_html: { class: "col-lg-6" }
  = f.submit "Отправить", class: "btn btn-primary", data: { disable_with: "Публикация..." }
