.row.margin-top-20.margin-bottom-20
  .col-md-8.questions{ style: "width: 50%;" }
    %h2.text-center Settings
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f|
      .form-inputs
        = f.input :username, required: false, autofocus: true, placeholder: "Login"
        = f.input :email, required: false, placeholder: "Email address"
        = f.input :nickname, required: false, placeholder: "Login"
      .form-actions.text-center
        = f.button :submit, "Update"
    .col-md-6
      = render "shared/aside"