.row.margin-top-20.margin-bottom-20
  .col-md-8.questions{ style: "width: 50%;" }
    %h2.text-center Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :username, required: false, placeholder: "Login"
        = f.input :password, required: false, placeholder: "Password"
      .form-actions.text-center
        = f.button :submit, "Log in"
  .col-md-6
    = render "shared/aside"